<!DOCTYPE html>
<html>
    <head>
        <script src="angular.js"></script> 
        <script src = "signUp.js"></script>
      
        <link rel="stylesheet" href="css/bootstrap.min.css">

    </head>
    
    <body ng-app= "signUpApp" ng-controller="signUpCtrl">
        <div style="margin-top:200px; text-align:center; width:350px; margin-left:600px; ">
            <h1>Create Your Account</h1>
            <form ng-controller="signUpCtrl" name="myForm" ng-submit="submitForm()" novalidate>
                
                
                
                
               <div style="margin-top:40px;">
                    <input type="email" name="email" ng-model="obj.email" class="form-control" placeholder="Enter email Id" required>
                    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Email is required.</span>
                        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                    </span>
               </div>
                
                 <div style="margin-top:10px;">
                    <input type="password" name="pwd" ng-model="obj.pwd" class="form-control" placeholder="Enter Password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                    <span style="color:red" ng-show="myForm.pwd.$dirty && myForm.pwd.$invalid">
                        <span ng-show="myForm.pwd.$error.required">password is required.</span>
                        <span ng-show="myForm.pwd.$error.minlength">password should be atleast 8 characters</span>
                    </span>
                </div>
                
                
                
                <div style="margin-top:10px;">
                    <input type="number" name="phone" ng-model="obj.phone" class="form-control" placeholder="Enter Mobile number" ng-maxlength="10" required>
                    <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                        <span ng-show="myForm.phone.$error.required">Mobile number is required.</span>
                        <span ng-show="myForm.phone.$error.maxlength">Number must be 10 digit</span>

                    </span>
                </div>
                
                 <div>
                    <input type="submit" value="Sign Up" class="form-control" style="margin-top:10px;"/>
                    
                </div>
                
               <h1>{{myWelcome}}</h1>
                
                

                
             </form>
        </div>    
    </body>
</html>




