#d_id{
	margin-left: 150px;
	margin-right: 150px;
	background: #00CED1;
}

#c_id{
	margin-left: 100px;
	margin-right: 100px;
	
}

header{
    background:#000080;
	padding: 8px;
	color: white;
}



nav{
bacground:
}

nav {
	margin:0px;
	padding:5px;
	margin-top:30px;
}

 nav a:hover{
    color: #f1f1f1;
    
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
	display:inline;
    
}
