

   <div class="mrg-set">
        <div class="inp-set">
            <input type="email" name="email" placeholder="Enter email" class="form-control" ng-model="email"/> 
        </div>
        <div class="inp-set">
            <input type="password" name="password" placeholder="Enter password" class="form-control" ng-model="password"/> 
        </div>
        <div class="inp-set">
            <input type="button" value="Sign In" class="form-control" ng-click="login()"/> 
        </div>
        
        <div class="inp-set">
            <input type="button" value="Sign Up" class="form-control" ng-click="signup()"/>         
        </div>
  </div>
